body
{
    margin: 0;
}

.game
{
    margin-top: 7vmin;
    margin-bottom: 7vmin;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(3, 20vmin);
    grid-template-columns: repeat(3, 20vmin);
}

.cell
{
    border: 4px solid rgba(0, 0, 0, 0.522);
}

.x
{
    width: 0;
}

.o
{
    width: 0;
}

.c1, .c2, .c3 { border-top: 0; }

.c1, .c4, .c7 { border-left: 0; }

.c7, .c8, .c9 { border-bottom: 0; }

.c3, .c6, .c9 { border-right: 0; }

.turn
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 5vmin;
    display: flex;
    justify-content: center;
    align-content: center;
}

.reset
{
    margin-top: 3vmin;
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn
{
    font-size: 4vmin;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

